<div class="single-column-footer">
    Proudly published with Hexo<br>
    <%# Please keep the section below and do not make modifications. %>
    Theme <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a><br>
    &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.title %></a>
</div>